<!-- Equirent -->
<!-- Programado Felipe gil mayor -->
<!-- 10 de febrero -->
<!-- Entrada -->
<!-- Salida -->

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Nos permite darle el titulo a la pagina web -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar registro</title>
  <link rel="stylesheet" href="../resources/css/StyleBañosCliente.css">
</head>

<body>
  <!-- aqui se muestran los datos del registro seleccionado par que se pueda ediatar lo que se desee -->
  <main class="main_edit">
    <h1 class="titulo_datos">Editar registro</h1>
    <% if (cliente) { %>
      <form class="contenedor_datos_ingreso" action="/update" method="post">
        <input id="id_cliente" name="id_cliente" value="<%= cliente.id_cliente %>" class="Input_ingresar_registro"
          placeholder="Id">
        <input type="text" class="Input_ingresar_registro" placeholder="Nombre" id="nombre" name="nombre"
          value="<%= cliente.Nombre%>">
        <input type="text" class="Input_ingresar_registro" placeholder="Apellidos" id="apell" name="apell"
          value="<%= cliente.apellidos %>">
        <input type="number" class="Input_ingresar_registro" placeholder="Telefono" id="tel" name="tel"
          onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" value="<%= cliente.telefono %>">
        <input type="text" class="Input_ingresar_registro input_direccion" placeholder="Direccion De Renta" id="direc"
          name="direc" value="<%= cliente.direccion_renta %>">
        <input type="number" class="Input_ingresar_registro input_number input_number_modifier"
          placeholder="Baños normales: <%= cliente.baños_normales %>" id="normal" name="normal" disabled>
        <input type="number" class="Input_ingresar_registro input_number input_number_modifier"
          placeholder="Baños vip: <%= cliente.baños_vip %>" id="vip" name="vip" disabled>
        <button type="submit" class="btn_ingresar">Actualizar</button>
        <a href="/rentas" class="btn_ingresar btn_cancelar">Cancelar</a>
      </form>
      <% } %>
  </main>

</body>

</html>
