<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cliente</title>
  <link rel="stylesheet" href="../resources/css/StyleBañosCliente.css">
</head>

<body>
  <main>
    <% if (cliente) { %>
      <form class="contenedor_datos_ingreso contenedor_datos_ingreso-modifier" action="/update_cliente" method="post">
        <input id="id_cliente" name="id_cliente" value="<%= cliente.id %>" class="Input_ingresar_registro"
          placeholder="Id">
        <input type="text" class="Input_ingresar_registro" placeholder="Nombre" id="nombre" name="nombre"
          value="<%= cliente.nombre %>">
        <input type="text" class="Input_ingresar_registro" placeholder="Apellidos" id="apell" name="apell"
          value="<%= cliente.apellidos %>">
        <input type="number" class="Input_ingresar_registro" placeholder="Telefono" id="tel" name="tel"
          onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" value="<%= cliente.telefono %>">
        <input type="text" class="Input_ingresar_registro" placeholder="Curp" id="curp" name="curp" required
          value="<%= cliente.curp %>">
        <button type="submit" class="btn_ingresar">Actualizar</button>
        <a href="/clientes" class="btn_ingresar btn_cancelar">Cancelar</a>
      </form>
      <% } %>
  </main>

</body>

</html>
