<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingresar datos</title>
  <link rel="stylesheet" href="resources/css/StyleBañosCliente.css">
</head>

<body>
  <main>
    <h1 class="titulo_datos">Ingresa un nuevo registro</h1>
  <!-- Formulario para ingresar un nuevo registro --> 
    <form class="contenedor_datos_ingreso" action="/save" method="post">
  <!-- Input de seleccion, para poder seleccionar a un cliente -->
      <select id="cliente" name="cliente" class="Input_ingresar_registro" placeholder="cliente">
        <option value="nada" selected disabled>Elige un cliente</option>
        <% results.forEach((clientes)=>{ %>
          <option value="<%= clientes.id %>" class="opcion_cliente" id="id_clientess">
            <%= clientes.nombre %>
              <%= clientes.apellidos %>
                <%= clientes.telefono %>
          </option>
          <% }) %>
      </select>
   <!-- Input para ingresar la direccion de la renta -->
      <input type="text" class="Input_ingresar_registro input_direccion" placeholder="Direccion De Renta" id="direc"
        name="direc">

      <input type="number" class="Input_ingresar_registro input_number" placeholder="Baños normales" id="normal"
        name="normal" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" required>
      <input type="number" class="Input_ingresar_registro input_number" placeholder="Baños vip" id="vip" name="vip"
        onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" required>
      <button type=" submit" class="btn_ingresar">Agregar</button>
      <a href="/rentas" class="btn_ingresar btn_cancelar">Cancelar</a>
    </form>
  </main>


</body>

</html>
