<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingresar datos</title>
  <link rel="stylesheet" href="resources/css/StyleBañosCliente.css">
</head>

<body>
  <main>
    <h1 class="titulo_datos">Ingresa un nuevo registro</h1>
    <form class="contenedor_datos_ingreso" action="/save" method="post">
      <input type="text" class="Input_ingresar_registro" placeholder="Nombre" id="nombre" name="nombre">
      <input type="text" class="Input_ingresar_registro" placeholder="Apellidos" id="apell" name="apell">
      <input type="number" class="Input_ingresar_registro" placeholder="Telefono" id="tel" name="tel"
        onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
      <input type="text" class="Input_ingresar_registro input_direccion" placeholder="Direccion De Renta" id="direc"
        name="direc">

      <input type="number" class="Input_ingresar_registro input_number" placeholder="Baños normales" id="normal"
        name="normal" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" required>
      <input type="number" class="Input_ingresar_registro input_number" placeholder="Baños vip" id="vip" name="vip"
        onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" required>
      <button type=" submit" class="btn_ingresar">Agregar</button>
      <a href="/rentas" class="btn_ingresar btn_cancelar">Cancelar</a>
    </form>
  </main>


</body>

</html>
